body {
  text-align: center;
  margin: 0;
  background-color:whitesmoke;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* 
.content-center {
  display: grid;
  place-content: center;
  gap: 1ch;
} */

.container {
    display: inline-block; 
    position: relative; 
    width: 500px;
    height: 500px;  
}

.gentle-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1ch;
}

.email-button {
  /* background-color: black; */
}

.signin-field{
  background-color:whitesmoke;
  margin: 10px auto;
  width: 350px; 
  height: 50px; 
  border: 1px 
  solid black; 
  padding: 5px;
}

.button-google {
  background-color: lightskyblue;
  width: 200px; 
  height: 40px; 
  color: whitesmoke;
}
